<div><em>Welcome, </em><bold><%= current_user.first_name %></bold></div>
<a href="/user_bills">See <bold>your</bold> bills</a>

<h3>Add a Due Date for this Action</h3>
<div>
  <%= form_tag '/checkpoints', method: :post do %>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon rounded-left"><i class="icon-calendar"></i></span>
      <input type="date" name="date" class="form-control rounded-right" placeholder="Due Date">
    </div>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon rounded-left"><i class="icon-pencil"></i></span>
      <input type="text" name="user_bill_id" class="form-control rounded-right" placeholder="params[:user_bill_id]">
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn-u btn-block rounded">Next</button>
      </div>
    </div>

  <% end %>
</div>