
<!--Table Search v1-->
<div ng-app="app" class="container">
  <div ng-controller="actionsCtrl" ng-init="setup()">
    <div class="table-search-v1 margin-bottom-20">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th ng-click="changeOrderAttribute(user_bill_id)">Bill</th>
              <th ng-click="changeOrderAttribute(description)">Action Description</th>
              <th ng-click="changeOrderAttribute(date)">Due Date</th>
              <th ng-click="toggleCompletef">Status</th>
              <th ng-click="changeOrderAttribute(action_id)">Action ID</th>
            </tr>
          </thead>
            <tbody>
              <tr ng-repeat="checkpointAction in checkpointActions | orderBy:orderAttribute:isOrderDescending">
                <td>{{ checkpointAction.user_bill_id }}</td>
                <td>{{ checkpointAction.description }}</td>
                <td>{{ checkpointAction.date }}</td>
                <td ng-click="toggleComplete(checkpointAction)">{{ checkpointAction.status }}</td>
                <td>{{ checkpointAction.action_id }}</td>

              </tr>
            </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<!--End Table Search v1-->