<div><em>Welcome, </em><bold><%= current_user.first_name %></bold></div>
<a href="/user_bills">See <bold>your</bold> bills</a>

<!--Table Search v1-->
<div ng-app="app">
  <div ng-controller="actionsCtrl" ng-init="setup()">
    <div class="table-search-v1 margin-bottom-20">
      <div class="table-responsive">
        <input ng-model="dateFilter">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Bill</th>
              <th>Action Description</th>
              <th class="hidden-sm" ng-click="changeOrderAttribute('date')">Due Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <%# @checkpoint_actions.each do |checkpoint_action| %>
            <tbody>
              <tr ng-repeat="checkpointAction in checkpointActions | filter: {date: dateFilter} | orderBy:orderAttribute:isOrderDescending">
                <td>{{ checkpointAction.user_bill_id }}</td>
                <td>{{ checkpointAction.description }}</td>
                <td>{{ checkpointAction.date }}</td>
                <td ng-click="toggleComplete(status)">{{ checkpointAction.date }}</td>
              </tr>
            </tbody>
          <%# end %>
        </table>

      </div>
    </div>
  </div>
</div>
<!--End Table Search v1-->

<div>
  <a href="/bills"><img src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" id="bill-img">Search Bills</a>
</div>
<div>
  <a href="/logout">Log out!</a>
</div>