<!--Table Search v1-->
<div ng-app="app" class="container">
  <div ng-controller="checkpointActionsCtrl" ng-init="setup()">
    <!-- <div class="table-search-v1 margin-bottom-20"> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Bill</th>
              <th>Action Description</th>
              <th>Due Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="checkpointAction in checkpointActions">
              <td>{{ checkpointAction.user_bill_id }}</td>
              <td>{{ checkpointAction.description }}</td>
              <td>{{ checkpointAction.date }}</td>
              <td ng-click="toggleComplete(status)">{{ checkpointAction.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>
</div>
<!--End Table Search v1-->