<h1>Theez iz the Billz!</h1>
<% @bills.each do |bill| %>
  <div>
    <h3> <%= bill.title %> </h3>
    <p>Number: <%= bill.bill %> </p>
    <p>Sponsor: <%= bill.sponsor %> </p>
    <p>Date Introduced: <%= bill.introduced_date %> </p>  
  </div>
<% end %>