<div><em>Welcome, </em><bold><%= current_user.first_name %></bold></div>
<a href="/user_bills">See <bold>your</bold> bills</a>

<h2>Here are some Billz!</h2>

<% @bills.each do |bill| %>
  <a href="/bills/<%= (bill["bill_uri"]).gsub('/', '-') %>"><%= bill["number"] %></a>
  <div>Title: <%= bill["title"] %></div>
<% end %>

<div><a href="/logout">Log out!</a></div>