<h1>Theez iz the Billz!</h1>
<% @bills.each do |bill| %>
  <div>
    <h3>Congress: <%= bill.congress %> </h3>
    <p>Number: <%= bill.bill %> </p>
    <p>Bill Created: <%= bill.created_at %> </p>
    <p>Bill URI: <%= bill.bill_uri %> </p>  
  </div>
<% end %>