<h2>Bill Detail</h2>


<p>Congress: <%= @bill.congress %></p>
<p>Bill uri: <%= @bill.bill_uri %></p>

<p>Created: <%= @bill.created_at %></p>

<a href="/"><img src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" id="bill-img">Back to Index</a>
