
    <!-- About Info -->
    <div class="container content-md">
      <div class="row">
        <div class="col-md-6">
          <h2 class="title-v2">WE ARE <b>CTZN</b></h2>
          <p>CTZN was designed to facilitate civic engagement between citizens and their legislators.</p>
          <p>We at CTZN strive to give users timely, complete, and accurate data so that they can make informed decisions about supporting legislation, and to help users keep track of the actions they have taken related to it.</p><br>
          <a href="/bills" class="btn-u btn-u-blue">Search Bills</a>
          <a href="/legislators" class="btn-u btn-u-red">Find Legislators</a>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="/assets/img/ctzn-screenshot.png" alt="/assets/img/mockup/mockup1.png">
        </div>
      </div>
    </div>
    <!-- End About Info -->

    <!--=== Parallax Quote ===-->
    <div class="parallax-quote parallaxBg">
      <div class="container">
        <div class="parallax-quote-in">
          <p><span class="color-red"><b>We the People</b></span> of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish<br> this Constitution for the United States of America.</p>
          <small>- U.S. Constitution -</small>
        </div>
      </div>
    </div>
    <!--=== End Parallax Quote ===-->

    <!--=== Service Blcoks ===-->
    <div class="container content-md">
      <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">WHAT WE DO</h2>
        <p class="space-lg-hor">Users can search for recently introduced <span class="color-green">legislation</span>, they can add any they oppose or support to their queue, and they can create <span class="color-green">action lists</span> to help them stay informed, engaged, and in contact with the people who represent them.</p>
      </div>

      <!-- Service Blcoks -->
      <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon icon-badge"></i>
            <h2 class="heading-sm">Search Legislation</h2>
            <ul class="list-unstyled">
              <li>Most Recent Legislation</li>
              <li>Reliable Data</li>
              <li>Senate and House</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon-line icon-trophy"></i>
            <h2 class="heading-sm">Follow Legislation</h2>
            <ul class="list-unstyled">
              <li>Create Action Lists</li>
              <li>Track Actions</li>
              <li>Easily Add and Remove</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon-line icon-layers"></i>
            <h2 class="heading-sm">Take Action!</h2>
            <ul class="list-unstyled">
              <li>Use Bills to Decide</li>
              <li>Find Your Legislators</li>
              <li>Share Your Views!</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Service Blcoks -->
    </div>
    <!--=== End Service Blcoks ===-->

