
    <!-- About Info -->
    <div class="container content-md">
      <div class="row">
        <div class="col-md-6">
          <h2 class="title-v2">WE ARE <b>CTZN</b></h2>
          <p>CTZN was designed to facilitate civic engagement between citizens and their legislators.</p>
          <p>We at CTZN strive to give users timely, complete, and accurate data so that they can make informed decisions about legislation, and so they can keep track of the actions they have taken related to it.</p><br>
          <a href="#/user_bills" class="btn-u btn-brd btn-brd-hover btn-u-dark">Search Bills</a>
          <a href="#/legislators" class="btn-u">Find Legislators</a>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="/assets/img/mockup/mockup1.png" alt="">
        </div>
      </div>
    </div>
    <!-- End About Info -->

    <!--=== Parallax Quote ===-->
    <div class="parallax-quote parallaxBg">
      <div class="container">
        <div class="parallax-quote-in">
          <p><span class="color-red"><b>We the People</b></span> of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish<br> this Constitution for the United States of America.</p>
          <small>- U.S. Constitution -</small>
        </div>
      </div>
    </div>
    <!--=== End Parallax Quote ===-->

    <!--=== Service Blcoks ===-->
    <div class="container content-md">
      <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">OUR SERVICES</h2>
        <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
      </div>

      <!-- Service Blcoks -->
      <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon icon-badge"></i>
            <h2 class="heading-sm">Web Design &amp; Development</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
              <li>Responsive Web Desgin</li>
              <li>E-commerce</li>
              <li>App &amp; Icon Design</li>
              <li>Logo &amp; Brand Design</li>
              <li>Mobile Development</li>
              <li>UI/UX Design</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon-line icon-trophy"></i>
            <h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
            <ul class="list-unstyled">
              <li>Analysis &amp; Consulting</li>
              <li>Email Marketing</li>
              <li>App &amp; Icon Design</li>
              <li>Responsive Web Desgin</li>
              <li>Social Networking</li>
              <li>Documentation</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="service-block service-block-default no-margin-bottom">
            <i class="icon-lg rounded-x icon-line icon-layers"></i>
            <h2 class="heading-sm">SEO &amp; Advertising</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
              <li>Display Advertising</li>
              <li>App &amp; Icon Design</li>
              <li>Analysis &amp; Consulting</li>
              <li>Google AdSense</li>
              <li>Social Media</li>
              <li>Google/Bing Analysis</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Service Blcoks -->
    </div>
    <!--=== End Service Blcoks ===-->

