<div><em>Welcome, </em><bold><%= current_user.first_name %></bold></div>

<h2>Theez iz all yo Billz!</h2>
<% @user_bills.each do |user_bill| %>
  <div>
    <h3>Bill URI: <%= user_bill.bill_uri %> </h3>
  </div>
<% end %>

<a href="/logout">Log out!</a>