<div ng-app="app">
  <div ng-controller="legislatorsCtrl" ng-init="setup()">
    Search: <input ng-model="legislatorsFilter" list="legislators">
    
    <datalist id="legislators">
      <option ng-repeat="legislator in legislators">{{ legislator.lastName }}</option>
    </datalist>

    <table border=1>
      <tr>
        <th ng-click="changeOrderAttribute('lastName')">Last Name {{ getSortIcon('lastName') }}</th>
        <th ng-click="changeOrderAttribute('party')">Party {{ getSortIcon('party') }}</th>
      </tr>
    </table>
  </div>
</div>