#bill-img {
  height: 75px;
  width: 85px;
}

.legislators {
  color: #000
}

.wrapper {
  background: url(http://wallpapercave.com/wp/tksT5Vl.jpg) no-repeat center center fixed;
  background-color: #777;
  background-blend-mode: screen;
  opacity: .95
}

.panel-group {
  opacity: .9;
}

.modal-backdrop {
  position: relative !important;
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: zoomOutLeft 1s;
  -moz-animation: zoomOutLeft 1s;
  -o-animation: zoomOutLeft 1s;
  animation: zoomOutLeft 1s;
}