#bill-img {
  height: 75px;
  width: 85px;
}

.legislators {
  color: #000
}

.wrapper {
  background: url(http://wallpapercave.com/wp/tksT5Vl.jpg) no-repeat center center fixed;
  background-color: #777;
  background-blend-mode: screen;
  opacity: .95
}

.panel-group {
  opacity: .9;
}